body{
    margin:0;
    height:100vh;
    margin: aut0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    max-height: 100vh;
    overflow: hidden;
}

#sidebar{
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 15px 30px;
    box-sizing:border-box;
    box-shadow: -8px 8px 30px #e4f0f2;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

#side-top-section{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.user-profile{
    text-align:center;
}
.user-profile>img{
    width:100px;
    border-radius: 50%;
    margin: 0;
    box-shadow: 2px 10px 15px rgb(163, 158, 158);
}

#user-name{
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0 0;
    color: #000000;
}
#user-email{
    font-size: 14px;
    margin: 5px 0 0;
    color:rgb(70, 69, 69);
}

#menu{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.icon{
    width: 16px;
    color: rgb(70, 69, 69);
}

#menu>span{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.5px;
    transition: color 0.1s;
    
}
#menu>span:hover{
    background-image: linear-gradient(90deg, #a2cafa, #ffffff);
    color: #056ae6;
    cursor: pointer;
}

span>p{
    display: inline-block;
    margin: 2px 15px;
}

#my-music{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#my-music>h2{
    color: rgb(70, 69, 69);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
}

#my-music>span{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.5px;
}
#my-music>span:hover{
    background-image: linear-gradient(90deg, #a2cafa, #ffffff);
    color: #056ae6;
    cursor: pointer;
}

#side-bottom-card{
    height: 8%;
    width: 100%;
    display: flex;
    align-content: flex-end;
    background-color: #f0efed;
    border-radius: 10px;
    justify-content: space-between;
}
#side-bottom-card:hover{
    cursor: pointer;
}
#side-bottom-card > img{
    width: 33%;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
}
#iphone{
    margin: auto;
}
#iphone>p{
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}
#iphone>p~p{
    color: rgb(70, 69, 69);
    font-size: 12px;
    margin: 0;
}
#side-bottom-card>i{
    margin: auto;
}




/* Sidebar Styles End */
/* Main section Styles Start */
main{
    height: 100vh;
    width: 80%;
    background-color: #e4f0f2;
    padding: 20px;
    box-shadow: 8px 8px 30px #e4f0f2;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

header{
    display: flex;
    justify-content: space-between;
}

#search-bar{
    border: 1px solid #cccccc;
    width: 350px;
    padding: 10px 50px;
    border-radius: 50px;
}
#header-left{
    position: relative;
    width: 40%;
}
#search-icon{
    color: rgb(70, 69, 69);
    font-size: 15px;
    position: absolute;
    left: 20px;
    top: 10px;
}


#header-right{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#notification{
    position: relative;
    font-size: 18px;
    cursor: pointer;
}
#red-dot{
    height: 7px;
    width: 7px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 0px;
}

.btn{
    border: none;
    color: white;
    background-image: linear-gradient(90deg, red, rgb(255, 157, 157));
    border-radius: 50px;
    padding: 12px 25px;
    cursor: pointer;
}

.btn:hover{
    background-image: none;
    color: red;
    padding: 11px 24px;
    border: 1px solid red;
}
#setting{
    cursor:pointer;
}


/* Main Section Header Styles End */

#topcharts-container{
    margin-top: 5px;
}
#topcharts-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#topcharts-header>p{
    font-size: 18px;
    font-weight: 600;
}
#scroll-buttons{
    width: 3%;
    display: flex;
    justify-content: space-between;
}
#topcharts-grid{
    margin:0;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
}
::-webkit-scrollbar{
    width: 0px;
}
.grid-item{
    min-width: 16%;
    border-radius: 15px;
    margin: 10px;
    transition: transform 0.3s;
}
.grid-item:hover{
    transform: scale(1.1);
}
.thumbnail{
    height: 130px;
    width: 100%;
    border-radius: 15px;
}

.song-title{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 0px;
}

.artist{
    margin: 0;
    font-size: 10px;
    color: rgb(70, 69, 69);
}

/* Grid Styles End */

#main-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bottom-left{
    width: 50%;
}

.header-section>h3{
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}
.header-section>p{
    margin: 0;
    font-size: 14px;
    color: rgb(70, 69, 69);
}
.fav{
    color: red;
}
i:hover{
    cursor: pointer;

}
.track-details{
    padding: 2px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    margin-top: 7px;
    box-shadow: 3px 3px 5px #ccc;
    color: rgb(70, 69, 69);
}

.track-details>div{
    display:flex;
    width:18%;
    justify-content: space-between;
    align-items: center;
}

.playlist-thumbnail{
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

#bottom-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#player-container{
    width:100%;
    height: 325px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 10px #ccc;
}

#player{
    height: 250px;
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 30px #ccc;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player>div>img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 10px 20px rgb(179, 179, 179);
}
#disk{
    position: relative;
    margin-top: 25px;
}
#white-circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid black;
    position: absolute;
    top: 40px;
    left: 40px;
}
#player>p{
    margin:10px 0 0;
    font-size: 14px;
    font-weight: 600;
}
#player>p~p{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color: rgb(70, 69, 69);
}

#seekbar{
    margin-top: 15px;
    width: 90%;
    border: 1.2px solid #ccc;
    position: relative;
}
#seekbar-pointer{
    height: 5px;
    width: 5px;
    position: absolute;
    background-color: rgb(54, 198, 247);
    border-radius: 50%;
    bottom: -3px;
    left: 30%;
}
#seekbar:hover{
    cursor: pointer;
}
#time{
    width: 90%;
    display: flex;
    margin: 0px;
    justify-content: space-between;
}
#time>p{
    margin:5px 0px 0px;
    font-size: 12px;
    color: rgb(70, 69, 69);
}

#player-controls{
    display: flex;
    width: 70%;
    margin: 25px auto;
    justify-content: space-between;
}
